# Auto detect text files and perform LF normalization
* text=auto
data/
R/
reference/
!lfs/reference/
syncignore.d
_minted-mci-derivation/
babel/

.Rhistory
.RData
*.Rout
*.RData
*.rds

*.html
*.tar.gz

# about manuscript
*.aux
*.dbj
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fff
*.fls
*.idx
*.ind
*.ilg
*.log
*.out
*.swp
*.synctex.gz
*.toc
*.ttt
*.xml
*.zip
*-eps-converted-to.pdf
.dropbox

# compiled object
*.o
*.so

# temp files
.DS_Store
.\#*
\#*\#
*.*~
*~
